$primary: #e73c3c;
$secondary: #444444;

#content, #messages {
    margin-top: 1%;
}

.primary {
    color: $primary!important;
}

.bg-primary {
    background-color: $primary!important; 
}

.secondary {
    color: $secondary;
}

.bg-secondary {
    background-color: $secondary!important;
    .nav-link {
        color: white!important;
    }
}

#back {
    margin-left: 5px;
}