$primary: #e73c3c;
$secondary: #444444;

#content, #messages {
    margin-top: 1%;
}

.primary {
    color: $primary!important;
}

a .primary:hover {
    text-decoration: underline;
    text-decoration-color: $primary;
}

.bg-primary {
    background-color: $primary!important; 
}

.announcement {
    border-radius: .25em;
    padding: 2%;
    border: 1px solid black;
    background-color: #FFFFFF;
}

.secondary {
    color: $secondary;
}

.bg-secondary {
    background-color: $secondary!important;
    .nav-link {
        color: white!important;
    }
}

#back {
    margin-left: 5px;
}