extends ../layout.pug

block navbar
    include ../includes/navbar.pug

block content
    .container
        h1.secondary-ul About Us
        hr
        h4.primary Who are we?
        p.secondary We are students at Mt Carmel High School (San Diego, Southern California). We are interested in engineering and have decided to make efforts to learn more! We’re a club that meets after school to learn more about Amateur Radio and build high-altitude balloon payloads. Our mentors and advisors are pictured above .
        h4.primary What do we do?   
        p.secondary We build, test, and launch low-Earth orbit satellites and are putting together something considerably smaller to send up in the next few years. We’re also in the process of planning out a digital satellite station and putting antennae onto the roof of our school. We’ve also put together a licensing class, run by Mr. Earnest. New as of 2016, unlicensed club members are taught everything they need to get their Amateur Radio license!
        h4.primary How can I help?
        p.secondary We are always in need of expert advice, including having guest speakers! Also, we’re always in need of supplies such as radios, antennae, batteries, solar panels, miscellaneous hardware and tools, etc. If you’d like to donate that would be fantastic! Feel free to #[a(href="/contact") contact us].