extends ../layout.pug

block content
    #content.container
        h4.text-center Log In
        form(action="/login" method="POST" enctype="application/x-www-form-urlencoded")
            .form-group
                label(for="email") Email:
                input.form-control#email(type="email" name="email")
            .form-group
                label(for="password") Password:
                input.form-control#password(type="password" name="password")
            input.btn.btn-primary(type="submit" value="Login")
            input.btn.btn-secondary#back(type="button" value="Back" onclick="window.history.back()")
        p.text-center New? #[a(href="/signup") Sign Up]